<% provide(:title, 'Features') %>
<div class="spacer"></div>
<h2 align="center"><strong>FARManager knows managing your operation is hard. Let us help!</strong></h2>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Use Google Maps to find your fields.<span class="text-muted"> Get a bird's eye view. </span></h2>
    <p class="lead">Using Google Maps satellite view see what your field's look like from a bird's eye view. This can show you water and brush levels on each of your fields.</p>
  </div>
  <div class="col-md-5">
    <%= link_to image_tag("maps.png", class:"img-responsive featurette-image", alt: "Maps")  %>

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <%= link_to image_tag("forum.png", class:"img-responsive featurette-image", alt: "Forum")  %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Talk about all stuff farming in our forums. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">We share farming information over coffee, over text, over the phone and at the hockey rink. Now reach a larger group of people with the FARManager forum.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Let FARManager help your field performance. <span class="text-muted">Improved yields.</span></h2>
    <p class="lead">Export your field data to an excel document. Observe charts and graphs about your field performance. Use these analytics to make smarter decisions. </p>
  </div>
  <div class="col-md-5">
    <%= link_to image_tag("fieldstats.png", class:"img-responsive featurette-image", alt: "Field Statistics")  %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <%= link_to image_tag("cropcheck.png", class:"img-responsive featurette-image", alt: "Crop Check")  %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Record all crop checks permanently. <span class="text-muted">Never forget again!</span></h2>
    <p class="lead">Hail. Disease. Pests. Frost. Wind. These all are a farmers worst enemy so make the crop check battle a little easier. FARManager allows you to easily record these to reference for years to come. </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Let FARManager make YOU money. <span class="text-muted">Tax Scenarios. Profit Planning.</span></h2>
    <p class="lead">Planning for a tax year and wondering what you may owe? Wondering how much money tha wheat quarter will net you? FARManager's tools allow you to try out different tax and crop scenarios.</p>
  </div>
  <div class="col-md-5">
    <%= link_to image_tag("profit.png", class:"img-responsive featurette-image", alt: "Profit Tools")  %>
  </div>
</div>
<!-- /END THE FEATURETTES -->
