<% if signed_in? %>
<% provide(:title, 'Dashboard') %>
 <div id="wrapper">

  <%=render "shared/sidebar"%>

            <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
               <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                  <h3> <%= render 'shared/user_info' %></h3>
                
            </div>
           
            <div class="page-content inset">
                <div class="row" style="font-size:1.0em">
                    
                    <div class="col-md-6">
                        <p class="well"> 
                        	<b>Recent Fields</b>
                        	<br/>
                        	 <% @fields.each do |field| %>
                        	<br/>
                        	<b>Land Location:   </b> <%= link_to field.land_location, field %>
                        	<br/>
                        	<b>Grain:   </b> <%=field.crop_type%>
                        	<br/>
     						<b>Seeded Acres:   </b> <%=field.seeded_acres%>
     					    <br/>
                        	<%end%>
                        	</p>
                    </div>
                 
                    <div class="col-md-6">
                        <p class="well">
                        	<b><%= link_to "Recent Forum Posts", forums_root_path %></b><br />
                        	
                        	<% @posts.each do |post| %>
                        	<br/>
                        	<i><%= post.user.name %>
                        	
                        	<%=post.created_at.strftime("on %m/%d/%Y at %I:%M%p :")%></i>
                        	<br/>
     						<b><%=post.body%></b>
     						<br/>
                        	<%end%>
    		
                        </p>
                    </div>
                  
                    <!-- <div class="col-md-6">
                        <p class="well">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Three Column Example</p>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <p class="well">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Three Column Example</p>
                    </div> -->
                    <!-- <div class="col-md-4">
                        <p class="well"></p>
                    </div>
                    <div class="col-md-4">
                        <p class="well"></p>
                    </div>
                      <div class="col-md-4">
                        <p class="well"></p>
                    </div> -->
                </div>
            </div>
            <div class="row">
            	<div class="col-md-4">
                        <p class="well"></p>
                    </div>
                    <div class="col-md-4">
                        <p class="well"></p>
                    </div>
                      <div class="col-md-4">
                        <p class="well">
                        	
                        	
                        	
                        	
                        	
                        	
                        	
                        	
                        	
                        </p>
                    </div>
            	
            </div>
        </div>
    </div>
   <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>





<!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-md-10 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
   <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>

	  
	 -->
	

<% else %>
<% provide(:title, 'Home') %>
<div class="container">

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Farmanager</h1>
		<p>
			A fourth year University of Regina Software Engineering project by Erin Cardiff. Farmanager was created for my dad, the owner of Cardiff Farms. This represents the first revision.
		</p>
		<p>
			<a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up now &raquo;</a>
		</p>
	</div>

</div>
<!-- /container -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= link_to image_tag("wheat.png", class:"img-circle", alt: "wheat")  %>
			<!-- <img class="img-circle" data-src="" alt="Generic placeholder image"> -->
			<!-- <%= link_to image_tag("icon.jpg", alt: "Rails")=%> -->
			<!-- <src="/app/assets/images/icon.jpg" alt="..." class="img-rounded"> -->
			<h2>Track Yearly Results</h2>
			<p>
				Track yearly results by recording seeded acres, bushels per acre, pest infestation and so much more with Farmanager.
			</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= link_to image_tag("combine.jpg", class:"img-circle", alt: "combine")  %>
			<!-- <img class="img-circle" data-src="" alt="Generic placeholder image"> -->
			<h2>Keep Maintenace Records</h2>
			<p>
				Keep track of when your combine, swather, tractor, airseeder and even your wife's SUV need maintenace with Farmanager's easy to use tracking utility.
			</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= link_to image_tag("expenses.jpg", class:"img-circle", alt: "Image courtesy of Stuart Miles / FreeDigitalPhotos.net")  %>

			<h2>Record Farm Expenses</h2>
			<p>
				Farmanager knows keeping track of those never ending expenses are difficult but with our easy to use interface accounting will be a breeze!
			</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

	<% end %>
