<% if signed_in? %>

  <h2 style="padding-bottom:10px">Dashboard</h2>
  <div class="row">
  <div class="col-md-3">     
  	<div class="list-group">
  		
            <a href="#" class="list-group-item active">Expenses</a>
            <a href="#" class="list-group-item">Maintenance</a>
            <a href="#" class="list-group-item">Crops</a>
            <a href="#" class="list-group-item">Scheduling</a>
            <a href="#" class="list-group-item">Monitoring</a>
          </div>
          </div>
  <div class="col-md-3">
  		    
   
    	 <section>
        <%= render 'shared/user_info' %>
      </section>
    
      <section>
        <%= render 'shared/field_form' %>
      </section>
        
 
  	
  </div>
  
    <div class="col-md-3">
  		    
    <aside>
      <section>
        <%= render 'shared/weather' %>
      </section>
    
        
    </aside>
  	
  </div>
  
    <div class="col-md-3">
  		    
    <aside>
      <section>
        <%= render 'shared/market' %>
      </section>
        
    </aside>
  	
  </div>
  
  
  
     <div class="row">
    
    
     <div class="col-md-4">
      <h3>Field Listing</h3>
      <%= render 'shared/listing' %>
    </div>
    
    
      <div class="col-md-4">
      <h3>Recent Activity</h3>
      <%= render 'shared/listing' %>
       
    </div>
    
      <div class="col-md-4">
      <h3>Help</h3>
      <%= render 'shared/help' %>
       
    </div>
    

    
    
         <div class="row">
    
    
     <div class="col-md-9">
      <h3>News</h3>
      <ol class="fields">
      	<li>
<script type="text/javascript" src="http://www.24-7pressrelease.com/js/newsfeed.js"></script>
<script type="text/javascript" src="http://www.24-7pressrelease.com/js/js_press_releases.php?category_id=127&limit=5"></script>
<script type="text/javascript">
js_style = 1;
target = "_blank";
if (newsfeed){
	showNews(newsfeed, js_style);
} else {
	document.write("News feeds did not import correctly. Please contact the 24-7 pressrelease administrators");
}
</script>
</li>
      	
      	</ol>
    </div>
    
    
 
    
    
 
  </div>
 
    
    
 
  </div>
  
  
</div>
  
  


<% else %>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Farmanager</h1>
        <p>A fourth year University of Regina Software Engineering project by Erin Cardiff. Farmanager was created for my dad, the owner of Cardiff Farms. This represents the first revision.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up now &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
    

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        	<%= link_to image_tag("wheat.png", class:"img-circle", alt: "wheat")  %>
        	<!-- <img class="img-circle" data-src="" alt="Generic placeholder image"> -->
        	<!-- <%= link_to image_tag("icon.jpg", alt: "Rails")=%> -->
          <!-- <src="/app/assets/images/icon.jpg" alt="..." class="img-rounded"> -->
          <h2>Track Yearly Results</h2>
          <p>Track yearly results by recording seeded acres, bushels per acre, pest infestation and so much more with Farmanager.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        	<%= link_to image_tag("combine.jpg", class:"img-circle", alt: "combine")  %>
          <!-- <img class="img-circle" data-src="" alt="Generic placeholder image"> -->
          <h2>Keep Maintenace Records</h2>
          <p>Keep track of when your combine, swather, tractor, airseeder and even your wife's SUV need maintenace with Farmanager's easy to use tracking utility.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        	<%= link_to image_tag("expenses.jpg", class:"img-circle", alt: "Image courtesy of Stuart Miles / FreeDigitalPhotos.net")  %>       

          <h2>Record Farm Expenses</h2>
          <p>Farmanager knows keeping track of those never ending expenses are difficult but with our easy to use interface accounting will be a breeze!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<% end %>