<div id="wrapper">

  <%=render "shared/sidebar"%>

            <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
               <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                  <h3>Field Observation Details</h3>
                
            </div>
           
            <div class="page-content inset">
                <div class="row">
                    
                    <div class="col-md-12">
            	<h4><b>Observation Type: </b> <%= @observation.observation_type %>
		<br/>
		<br/>
		<b>Crop Year: </b> <%= @observation.year%>
		<br/>
		<br/>
		<b>Date Observed: </b> <%= @observation.date_observed.strftime("%B %d, %Y")%>
		<br/>
		<br/>
		<b>Legal Land Location: </b> <%= @observation.landparcel%>
		<br/>
		<br/>
		<b>Crop Affected: </b> <%= @observation.cropobserved%>
		<br/>
		<br/>
		<b>Severity: </b> <%= @observation.severity%>
		<br/>
		<br/>
		<b>Growth Stage: </b> <%= @observation.growthstage%>
		<br/>
		<br/>

			<!-- <b>Image:</b><%= image_tag @observation.image.url %>
			<br/> -->
			<%if @observation.notes.present?%>
			<b>Notes: </b> <%= @observation.notes%>
			
			<br/>
		<br/>
			<%end%>
		
			
		
			<b>Last Update:</b> <%= time_ago_in_words(@observation.updated_at)%>
			<br/>
		</h4>
	
                    </div>
                
                </div>
            </div>
        </div>
    </div>


































