<div id="wrapper">

<%=render "shared/sidebar"%>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<div class="content-header">
			<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
			<h3>Inventory Details</h3>

		</div>

		<div class="page-content inset">
			<div class="row">

				<div class="col-md-12">
					<h4>
		<b>Inventory: </b> <%= @inventory.name %>
		<br/>
			<br/>
			<b>Make:</b> <%= @inventory.capacity %>
			<br/>
			
			<br/>
			<b>Model:</b> <%= @inventory.commodity %>
			<br/>

			<br/>
			<b>Year:</b> <%= @inventory.ticket_no %>
			<br/>
			
			<br/>
			<b>Value:</b> <%= @inventory.moisture_content%>
			<br/>
			
			<br/>
			<b>Category:</b> <%= @inventory.notes%>
			<br/>
			
			<br/>
			<b>Last Update:</b> <%= @inventory.updated_at%>
			<br/>
		
			</h4>

					
				</div>

			</div>
		</div>
	</div>
</div>


	