 <div id="wrapper">

  <%=render "shared/sidebar"%>

            <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
               <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                  <h3>Edit Equipment Details:</h3>
                
            </div>
           
            <div class="page-content inset">
                <div class="row">
                    
                    <div class="col-md-12">
        
<%= bootstrap_form_for(@equipment, style: :horizontal, left: "col-sm-4", right: "col-sm-4",  :html => { :multipart => true }) do |f| %>
  <%= f.text_field :name, placeholder: "Enter the equipment name..." %>
  <%= f.text_field :category, placeholder: "Enter the type of equipment..." %>
  <%= f.text_field :make, placeholder: "Enter the make..." %>
  <%= f.text_field :model, placeholder: "Enter the model..." %>
  <%= f.text_field :year, placeholder: "Enter the year..." %>
  <%= f.text_field :value, placeholder: "Enter the value..." %>
  <%= f.text_area :notes, placeholder: "Enter notes..." %>
  
  
   <%= f.file_field :image %>
   
  <%= f.form_group do %>
    <%= f.submit "Update Equipment",class: "btn btn-primary"%>
  <% end %>
  
 
<% end %>
                    </div>
              
                </div>
            </div>
        </div>
    </div>



