 <% provide(:title, 'Add Equipment') %>
 <div id="wrapper">

  <%=render "shared/sidebar"%>

            <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
               <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                  <h3>Add Equipment:</h3>
                
            </div>
           
            <div class="page-content inset">
                <div class="row">
                    
                    <div class="col-md-12">
        
<%= bootstrap_form_for(@equipment, style: :horizontal, left: "col-sm-4", right: "col-sm-4",  :html => { :multipart => true }) do |f| %>
  <%= f.text_field :name, placeholder: "Enter the equipment name..." %>
  <%= f.select(:category,Equipment::EQUIPMENT_CATEGORY)%>
  
  <%= f.text_field :year, placeholder: "Enter the year..." %>
  <%= f.text_field :make, placeholder: "Enter the make..." %>
  <%= f.text_field :model, placeholder: "Enter the model..." %>
  <%= f.text_field :value, placeholder: "Estimated value..." %>
  <%= f.text_field :mileage_or_engine_hours,label: "Mileage or Engine Hours", placeholder: "Enter the mileage/engine hours..." %>
  <%= f.text_area :notes, placeholder: "Enter notes..." %>
  
  
  <!-- :maintenance_date,:next_maintenance_date,:mileage_or_engine_hours,:maintenance_notes,:maintenance_data, -->
  
  
   <!-- <%= f.file_field :image %> -->
   
  <%= f.form_group do %>
    <%= f.submit "Add Equipment",class: "btn btn-primary"%>
  <% end %>
  
 
<% end %>
                    </div>
              
                </div>
            </div>
        </div>
    </div>



