	<div class="spacer"></div>
	
	<div class="row">
  

  	<%=render 'shared/sidebar'%>
  	
  	
  	<div class="col-md-8">
 <h4>
		<b>Equipment: </b> <%= @equipment.name %>
		<br/>
			<br/>
			<b>Make:</b> <%= @equipment.make %>
			<br/>
			
			<br/>
			<b>Model:</b> <%= @equipment.model %>
			<br/>

			<br/>
			<b>Year:</b> <%= @equipment.year %>
			<br/>
			
			<br/>
			<b>Value:</b> <%= @equipment.value%>
			<br/>
			
			<br/>
			<b>Category:</b> <%= @equipment.category%>
			<br/>
			
			
			<br/>
			<b>Category:</b> <%= @equipment.notes%>
			<br/>
			
			<br/>
			<b>Image:</b><%= image_tag @equipment.image.url %>
			<br/>
			
			<br/>
			<b>Last Update:</b> <%= @equipment.updated_at%>
			<br/>
			</h4>



  		</div>
</div>
	
	