<% provide(:title, "Edit user") %>
<h3 align="center">Update your profile</h3>


<%= bootstrap_form_for(@user, style: :horizontal, left: "col-sm-4", right: "col-sm-4") do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name..." %>
  <%= f.text_field :email, placeholder: "Enter your email..." %>
  <%= f.password_field :password, placeholder: "Enter your password..." %>
  <%= f.password_field :password_confirmation,  label: "Confirm Password", placeholder: "Confirm your password..." %>


  
  <%= f.form_group do %>
    <%= f.submit "Save Changes",class: "btn btn-primary"%>
  <% end %>
  
 
<% end %>