	<!-- <a class="btn btn-default btn-primary" href="/table" role="button">View Fields as Table</a> -->
		<!-- <div class="spacer"></div> -->
		<!-- <h2>All Fields</h2> -->

		  <!-- <%= pluralize(current_user.fields.count, "Field") %> -->
		 <!-- <br/> -->
		 <!-- <br/> -->
		 <!-- <ul class="listing"> -->
		 <!-- <%= render @fields %> -->
		 <!-- </ul> -->
		 <!-- <ul class="pagination"> -->
		 <!-- <%= will_paginate %> -->
		 <!-- </ul> -->





<!-- <div class="spacer"></div>

<div class="row">

	<%= render 'shared/sidebar'%>

	<div class="col-md-8">
		

		
		
		
		<a class="btn btn-default btn-primary" href="/crops/new" role="button">Add Crops</a>
		<h2>All Crops</h2>

 <table class="table table-striped">
    <thead>
      <tr>
        
        <th>Land</th>
        <th>Acres</th>
        <th>Seeding Data</th>
        <th>Crop Type</th>
        <th>Variety</th>
        <th>Fungicide</th>
        <th>Net Yield</th>
        <th>Grade</th>
        <th>Production Amount</th>
        <th>Fertilizer- Nitrogen</th>
        <th>Fertilizer- Phosphorous</th>
        <th>Fertilizer- Potassium</th>
        <th>Fertilizer- Sulphur</th>
  
   
       
   
      </tr>
    </thead>
    <tbody>
      <% @crops.each do |crop| %>
        <tr>
         
          <td><%= crop.variety %></td>
          <td><%= crop.acres %></td>
          <td><%= crop.seeding_date %></td>
          <td><%= crop.crop_type %></td>
          <td><%= crop.variety %></td>
           <td><%= crop.fungicide %></td>
          <td><%= crop.net_yield %></td>
          <td><%= crop.grade %></td>
          <td><%= crop.prod_amt %></td>
          <td><%= crop.nitrogen %></td>
          <td><%= crop.phosphorous %></td>
          <td><%= crop.potassium %></td>
  		<td><%= crop.sulphur %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

	</div>
</div> -->