<div class="spacer"></div>

<div class="row">

	<%= render 'shared/sidebar'%>

	<div class="col-md-8">
		<h4><b>Crop </b> <%= @crop.crop_type %>
		<br/>
		<br/>
		<b>Variety</b> <%= @crop.variety%>
		<br/>
		<br/>
		<b>Date Seeded</b> <%= @crop.date_seeded%>
		<br/>
		<br/>
		<b>Actual Seeded</b> <%= @crop.actual_seeded%>
		<br/>
		<br/>
		<p>Chemical Details:</p>
		<br/>
		<b>Nitrogen</b> <%= @crop.nitrogen%>
		<br/>
		<br/>
		<b>Herbicides</b> <%= @crop.herbicides%>
		<br/>
		<br/>
		<b>Fungicides:</b> <%= @crop.fungicides%>
		<br/>
		<br/>
		<b>Phosphorous</b> <%= @crop.phosphorous%>
		<br/>
		<br/>
		<b>Sulphur:</b> <%= @crop.sulfur%>
		<br/>
		<br/>
		<b>Potassium:</b> <%= @crop.sulfur%>
		<br/>
		<br/>
		
		<p>Harvest Details:</p>
		<br/>
		<b>Total Produced</b> <%= @crop.total_produced%>
		<br/>
		<br/>
		<b>Yield</b> <%= @crop.yield%>
		<br/>
		<br/>
		<b>Grade</b> <%= @crop.grade%>
		<br/>
		<br/>

	</div>
</div>