<td>
  <%= croprotation.land_location %>
</td>
<td>
  <%= croprotation.planned_crop_year1 %>
</td>
<td>
  <%= croprotation.year1 %>
</td>
<td>
  <%= croprotation.planned_crop_year2 %>
</td>
<td>
  <%= croprotation.year2 %>
</td>
<td>
  <%= croprotation.planned_crop_year3 %>
</td>
<td>
  <%= croprotation.year3 %>
</td>

<td>
  <%= link_to 'Edit', 'javascript:void(0)', class: 'btn edit_btn' %>
  <span></span>
  <%= link_to 'Delete', croprotation_path(croprotation), method: 'delete', data: {confirm: 'Are you sure?'}, remote: true, class: 'btn' %>
</td>

