<%= form_for(@croprotation) do |f| %>
  <% if @croprotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@croprotation.errors.count, "error") %> prohibited this rotation from being saved:</h2>

      <ul>
      <% @croprotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :land_location %><br>
    <%= f.text_field :land_location %>
  </div>
  <div class="field">
    <%= f.label :planned_crop_year1 %><br>
    <%= f.text_field :planned_crop_year1 %>
  </div>
  <div class="field">
    <%= f.label :year1 %><br>
    <%= f.number_field :year1 %>
  </div>
  
   <div class="field">
    <%= f.label :planned_crop_year2 %><br>
    <%= f.text_field :planned_crop_year2 %>
  </div>
  <div class="field">
    <%= f.label :year2 %><br>
    <%= f.number_field :year2 %>
  </div>
  
   <div class="field">
    <%= f.label :planned_crop_year3 %><br>
    <%= f.text_field :planned_crop_year3 %>
  </div>
  <div class="field">
    <%= f.label :year3 %><br>
    <%= f.number_field :year3 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>