<% provide(:title, 'Expenses') %>
 <div id="wrapper">

  <%=render "shared/sidebar"%>

            <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
               <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                  <h3>Expenses</h3>
                
            </div>
           
            <div class="page-content inset">
                <div class="row">
                    
                    <div class="col-md-12">
      <a class="btn btn-default btn-primary" href="/expenses/new" role="button">Add Expenses</a>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	
<%= pie_chart current_user.fields.group("land_location").count %>

<%= pie_chart current_user.fields.group("crop_type").count %>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
















