<% provide(:title, 'Add Expenses') %>
<div id="wrapper">

	<%= render "shared/sidebar"%>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<div class="content-header">
			<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
			<h3>Add Income and Expense Data</h3>

		</div>

		<div class="page-content inset">
			<div class="row">

				<div class="col-md-12">
                  <div class="alert alert-danger" align="center">
                    <p>Please consult an expert in the preparation of your financial matters. This is for demonstration purposes only!</p>
                  </div>

					<%= bootstrap_form_for(@expense, style: :horizontal, left: "col-sm-4", right: "col-sm-4") do |f| %>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <b>Enter Tax Year Details.</b> </a></h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">

									<%= f.text_field :year, label: "Tax Year", placeholder: "Enter the tax year..." %>
									<%= f.text_area :notes, label:"Notes", placeholder: "Enter any notes..."%>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <b>Enter Grain Income details.</b> </a></h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">

									<%= f.text_field :pulse, label: "Total Pulse Income", placeholder: "Enter any pulse(peas or lentils) income..." %>
									<%= f.text_field :cereals, label:"Total Cereal Income", placeholder: "Enter any cereal(wheat, durum or barley) income..."%>
									<%= f.text_field :canola, label: "Total Canola Income", placeholder: "Enter any canola income..." %>
									<%= f.text_field :flax, label:"Total Flax Income", placeholder: "Enter any flax income..."%>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <b>Enter Expense Details.</b> </a></h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">

									<%= f.text_field :fertilizer, label: "Total Fertilizer Expenses", placeholder: "Enter any fertilizer expenses..." %>
									<%= f.text_field :chemicals, label:"Total Chemical Expenses", placeholder: "Enter any chemical expenses..."%>
									<%= f.text_field :insurancepremium, label: "Total Insurance Premiums", placeholder: "Enter any insurance premiums..." %>
									<%= f.text_field :machinery_fuel, label:"Total Fuel Expenses", placeholder: "Enter any fuel expenses..."%>
									<%= f.text_field :electricity, label: "Total Electricity Expenses", placeholder: "Enter any electricity expenses..." %>
									<%= f.text_field :trucking, label:"Total Trucking Expenses", placeholder: "Enter any trucking expenses..."%>
									<%= f.text_field :heating_fuel, label: "Total Heating Fuel", placeholder: "Enter any heating fuel..." %>
									<%= f.text_field :machinery_repairs, label:"Total Machinery Repair Expenses", placeholder: "Enter any machinery repair expenses..."%>
									<%= f.text_field :building_repairs, label: "Total Building Repair Expenses", placeholder: "Enter any building repair expenses..." %>
									<%= f.text_field :machinery_rent, label:"Total Machinery Rent Expenses", placeholder: "Enter any machinery rent expenses..."%>
									<%= f.text_field :interest, label: "Total Interest Expenses", placeholder: "Enter any interest expenses..." %>
									<%= f.text_field :subscription_costs, label:"Total Subscription Costs", placeholder: "Enter any subscription expenses..."%>
									<%= f.text_field :office_expenses, label: "Total Office Expenses", placeholder: "Enter any office expenses..." %>
									<%= f.text_field :accounting_legalfees, label:"Total Accouting and Legal Fees", placeholder: "Enter any accounting or legal fees..."%>
									<%= f.text_field :property_taxes, label: "Total Property Taxes", placeholder: "Enter any property taxes..." %>
									<%= f.text_field :rents, label:"Total Rent Expenses", placeholder: "Enter any rent expenses..."%>
									<%= f.text_field :vehicle_expenses, label: "Total Vehicle Expenses", placeholder: "Enter any vehicle expenses..." %>
									<%= f.text_field :hardware_costs, label:"Total Hardware Expenses", placeholder: "Enter any hardware expenses..."%>
									<%= f.text_field :telephone, label: "Total Telephone Expenses", placeholder: "Enter any telephone expenses..." %>

								</div>
							</div>
						</div>

					</div>

					<div class="spacer"></div>

					<%= f.form_group do %>
					<%= f.submit "Generate Taxable Income",class: "btn btn-primary"%>
					<% end %>

					<% end %>

				</div>

			</div>
		</div>
	</div>
</div>

