<div class="bigger_spacer"></div>



<%= bootstrap_form_for(@field, style: :horizontal, left: "col-sm-4", right: "col-sm-4") do |f| %>
<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <b>Enter field information.</b>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <%= f.text_field :land_location, placeholder: "Enter the legal land location..." %>

<%= f.text_field :land_name, placeholder: "Enter land name or nickname..." %>

<%= f.text_area :notes, placeholder: "Enter any notes" %>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <b>Enter seeding details.</b>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <%= f.text_field :crop_type, placeholder: "Enter the grain type" %>

<%= f.text_field :variety, placeholder: "Enter grain variety..." %>

<%= f.text_field :seeded_acres, placeholder: "Enter the actual seeded acres..." %>

 <%= f.date_select :seeding_date, placeholder: "Enter the seeded date..." %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <b>Enter chemicals applied.</b>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
<%= f.text_field :herbicides, placeholder: "Enter herbicides..." %>

<%= f.text_field :fungicides, placeholder: "Enter fungicides..." %>

<h4 align="center"><b>Enter fertilizer information</b></h4>

<%= f.text_field :f_nitrogen, placeholder: "Enter nitrogen applied..." %>

<%= f.text_field :f_phosphorous, placeholder: "Enter phosphorous applied..." %>

<%= f.text_field :f_potassium, placeholder: "Enter potassium" %>

<%= f.text_field :f_sulphur, placeholder: "Enter sulfur" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         <b>Enter harvest details.</b>
        </a>
      </h4>
    </div>
  
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      	<%= f.text_field :production, placeholder: "Enter the total bushels..." %>
<%= f.text_field :netyield, placeholder: "Enter your yield..." %>
<%= f.text_field :grade, placeholder: "Enter the grain..." %>
      	
      	
     
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>


<%= f.form_group do %>
<%= f.submit "Add Fields",class: "btn btn-primary"%>
<% end %>

<% end %>



