<div id="wrapper">

  <%= render "shared/sidebar" %>

  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="content-header">
      <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>


      <h3 class="text-info"><%= @field.land_location %></h3>

    </div>

    <div class="page-content inset">


      <hr>




      <div class="row">

        <!-- <div class="col-md-12"> -->

        <div class="col-md-1">
        </div>

        <div class="col-md-8">
          <p class="well">
            <b class="text-success"><u><%= @field.land_location %> Details</u></b> <br/><br/>

            <b>Acreage:</b> <%= @field.land_name %>
            <br/>
            <br/>
            <b>Notes:</b> <%= @field.notes %>
            <br/>
            <br/>
            <b>Grain:</b> <%= @field.crop_type %>
            <br/>
            <br/>
            <b>Variety:</b> <%= @field.variety %>
            <br/>
            <br/>
            <b>Seeding Date:</b> <%= @field.seeding_date %>
            <br/>
            <br/>
            <b>Nitrogen:</b> <%= @field.f_nitrogen %>
            <br/>
            <br/>
            <b>Phosphorous:</b> <%= @field.f_phosphorous %>
            <br/>
            <br/>
            <b>Sulphur:</b> <%= @field.f_sulphur %>
            <br/>
            <br/>
            <b>Potassium:</b> <%= @field.f_potassium %>
            <br/>
            <br/>
            <b>Herbicide:</b> <%= @field.herbicides %>
            <br/>
            <br/>
            <b>Fungicide:</b> <%= @field.fungicides %>
            <br/>
            <br/>
            <b>Net Yield:</b> <%= @field.netyield %>
            <br/>
            <br/>
            <b>Grade:</b> <%= @field.grade %>
            <br/>
            <br/>
            <b>Production:</b> <%= @field.production %>
            <br/>
            <br/>
            <b>Last Update:</b> <%= @field.updated_at %>
            <br/>
          </p>


        </div>


      </div>

      <hr>
      <br/>
      <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-8">
          <p class="well">
            <b class="text-success"><u>All crops planted on:</u></b> <b><%= @field.land_location %> </b> <br/>
      <%@similarfields=current_user.fields.where('land_location = ?',@field.land_location).order('year DESC')%>
      <%@similarfields.each do |f|%>
        <br/>
         <b>Year:</b> <%=f.year%> <br/>
        <b> Grain:</b> <%= f.crop_type %> <br/>
        <b> Yield:</b> <%= f.netyield%> <br/>
         <%= link_to ('View Field'), f %>
                <br/>
            <%end%>
          <br/>
                </p>

            </div>
        </div></div>

    </div>
  </div>

</div>




