<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	 <% if signed_in? %> 
  	 <%= render 'layouts/adminheader' %>
  	 <%else%>
          <%= render 'layouts/header' %>
          <%end%>
    <div class="container-fluid">
         <% flash.each do |key, value| %>
        <%= content_tag(:div, value, id: "flash", class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>


       
    </div>
  </body>
</html>



<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>